@using Microsoft.Extensions.Primitives;
@using WebTuyenDung.Enums;
@using WebTuyenDung.ViewModels;
@using WebTuyenDung.ViewModels.Page;
@model JobsPageViewModel

@{
    ViewBag.Title = "Tìm kiếm công việc";
    var query = Context.Request.Query;
    var baseUrl = "/jobs?";
    var position = query["position"];
    var jobType = query["jobType"];
    var salary = query["salary"];

    if (position.Count != 0)
    {
        baseUrl += $"position={position}";
    }
    if (jobType.Count != 0)
    {
        baseUrl += (baseUrl.EndsWith("?") ? "" : "&") + $"jobType={jobType}";
    }
    if (salary.Count != 0)
    {
        baseUrl += (baseUrl.EndsWith("?") ? "" : "&") + $"salary={salary}";
    }

    var pageIndex = query["pageIndex"];
    var currentPage = pageIndex.Count != 0 ? int.Parse(pageIndex!) : 1;

    if (!baseUrl.EndsWith("?"))
    {
        baseUrl += "&";
    }

    baseUrl += "pageIndex=";
}

@section css_Main {
    <link rel="stylesheet" href="~/Assets/Client/css/search.css">
}

@section scripts_Main {
    <script src="~/Assets/Client/js/style.js"></script>
    <script src="~/Assets/Client/js/searchkey.js"></script>
    @*<script src="~/Assets/Client/js/searchResult.js"></script>*@

    @*<script>
        load("/Home/GetPaging", $('#keyword').val(), 1, $('#CapBac').val(), $('#DiaChi').val(), null, null, null);

        $("body").on("click", ".result__paging--list li a", function (event) {
            event.preventDefault();
            var page = $(this).attr('data-page');
            load("/Home/GetPaging", $('#keyword').val(), page, $('#CapBac').val(), $('#DiaChi').val(), null, null, null);
        });

        $("#ChuyenNganh, #LoaiCV, #MucLuong").on("change", function () {
            load("/Home/GetPaging", $('#keyword').val(), 1, $('#CapBac').val(), $('#DiaChi').val(), $('#ChuyenNganh').val(), $('#LoaiCV').val(), $('#MucLuong').val());
        });
    </script>*@
}

<div class="main__fixed bg-img"></div>
<div class="main__search">
    <div class="main__search--wrapper grid wide">
        @*@{
        Html.RenderAction("_ViewSearch", "Home");
        }*@
    </div>
</div>

<div class="main_result">
    <div class="main__result--wrapper grid wide">
        <ul class="main__result--header">
            <li>
                <a href="/">Trang chủ</a>
            </li>
            <li>
                <h1 class="result__header--title">@*Việc làm @(Request["KeyWord"] != null ? Request["KeyWord"] : "")*@</h1>
            </li>
        </ul>
        <form class="main__result--search row" method="get">
            <div class="search__item col l-3 m-3 c-6">
                <select class="form-control text-box single-line selectpicker"
                        data-live-search="true" data-val="true"
                        id="position" name="position">
                    <option value="" selected="@(position.Count == 0)">-- Chọn vị trí cần tuyển --</option>
                    <option value="0" selected="@(position.Count > 0 && position[0] == "0")">
                        Business Analyst
                    </option>
                    <option value="1" selected="@(position.Count > 0 && position[0] == "1")">Kỹ sư cầu nối</option>
                    <option value="2" selected="@(position.Count > 0 && position[0] == "2")">
                        Lập trình viên
                    </option>
                    <option value="3" selected="@(position.Count > 0 && position[0] == "3")">
                        Tester
                    </option>
                    <option value="4" selected="@(position.Count > 0 && position[0] == "4")">
                        Quality Control
                    </option>
                    <option value="5" selected="@(position.Count > 0 && position[0] == "5")">
                        Quality Assurance
                    </option>
                    <option value="6" selected="@(position.Count > 0 && position[0] == "6")">
                        Quản lý dự án phần mềm
                    </option>
                </select>
                <span class="text-danger" style="display: none"></span>
            </div>
            <div class="search__item col l-3 m-3 c-6">
                <select class="form-control text-box single-line selectpicker"
                        data-live-search="true" data-val="true" id="jobType"
                        name="jobType">
                    <option value="" selected="@(jobType.Count == 0)">
                        -- Chọn hình thức làm việc --
                    </option>
                    <option value="0" selected="@(jobType.Count > 0 && jobType[0] == "0")">Parttime - Bán thời gian</option>
                    <option value="1" selected="@(jobType.Count > 0 && jobType[0] == "1")">Fulltime - Toàn thời gian</option>
                    <option value="2" selected="@(jobType.Count > 0 && jobType[0] == "2")">
                        Remote - Làm việc từ xa
                    </option>
                </select>
            </div>
            <div class="search__item col l-3 m-3 c-6">
                <select class="form-control text-box single-line selectpicker" data-live-search="true" name="salary">
                    <option value="" selected="@(salary.Count == 0)">-- Chọn mức lương --</option>
                    <option value="Dưới 3 triệu" selected="@(salary.Count > 0 && salary[0] == "Dưới 3 triệu")">Dưới 3 triệu</option>
                    <option value="3 - 5 triệu" selected="@(salary.Count > 0 && salary[0] == "3 - 5 triệu")">3 - 5 triệu</option>
                    <option value="5 - 7 triệu" selected="@(salary.Count > 0 && salary[0] == "5 - 7 triệu")">5 - 7 triệu</option>
                    <option value="7 - 10 triệu" selected="@(salary.Count > 0 && salary[0] == "7 - 10 triệu")">7 - 10 triệu</option>
                    <option value="Trên 10 triệu" selected="@(salary.Count > 0 && salary[0] == "Trên 10 triệu")">Trên 10 triệu</option>
                    <option value="Thỏa thuận" selected="@(salary.Count > 0 && salary[0] == "Thỏa thuận")">Thỏa thuận</option>
                </select>
            </div>
            <button class="btn btn-primary" style="margin-left: 15px" type="submit">Seach</button>
        </form>
        <div class="main__result--total">
            <p class="result__total--content">
                @if (Model.SearchResult.TotalRecords == 0)
                {
                    @: Không tìm được tin tuyển dụng phù hợp
                }
                else
                {
                    @: Tìm được <span>@Model.SearchResult.TotalRecords</span> công việc phù hợp với yêu cầu của bạn
                }
            </p>
            <div class="main__result--content row">
                <div class="main__result--description col l-8">
                    <div class="grid row result__list--search">
                        @foreach (var job in Model.SearchResult.Data)
                        {
                            <div class="col result__item l-12 m-6 c-12">
                                <div class="result__item--wrapper">
                                    <div class="result__item--img">
                                        <img class="full_width" src="@job.Employer.Avatar" />
                                        <div class="result__item--time">@job.WorkingSite</div>
                                    </div>
                                    <div class="result__item--name">
                                        <h2 class="result__name--title">
                                            <a class="result__name--link text-line-1" href="/recruiment-news/@job.Id">
                                                @job.JobName
                                            </a>
                                            @if (User.Identity!.IsAuthenticated)
                                            {
                                                <span class="result__name--save">
                                                    <a href="#" title="Lưu tin tuyển dụng">
                                                        <i class='fa-solid fa-heart'></i>
                                                    </a>
                                                </span>
                                            }
                                        </h2>
                                        <div class="result__name--employer mb-5">
                                            <a href="/employers/@job.Employer.Id" class="result__employer--link text-line-1">
                                                <span class="result__icon">
                                                    <i class="far fa-building"></i>
                                                </span>
                                                <span>
                                                    @job.Employer.Name
                                                </span>
                                            </a>
                                        </div>
                                        <p class="result__salary mb-5">
                                            <span class="result__icon">
                                                <i class="fas fa-money-check-alt"></i>
                                            </span>
                                            Lương: <span>@job.Salary</span>
                                        </p>
                                        <div class="result__date mb-5">
                                            <p class="result__date--start mb-0">
                                                <span class="result__icon">
                                                    <i class="fa-regular fa-calendar-check"></i>
                                                </span>
                                                Ngày đăng: <span>@job.CreatedAt.GetApplicationTimeRepresentation()</span>
                                            </p>
                                            <p class="result__date--end mb-0">
                                                Hết hạn: <span>@(job.Deadline.HasValue ? job.Deadline.Value.GetApplicationTimeRepresentation() : "Vô thời hạn")</span>
                                            </p>
                                        </div>
                                        <p class="result__address mb-0">
                                            <span class="result__icon">
                                                <i class="fas fa-map-marked"></i>
                                            </span>
                                            <span>
                                                @job.JobType.GetRepresentation()
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="main__result--paging">
                        <ul class="result__paging--list">
                            @if (currentPage > 1)
                            {
                                <li class="previous">
                                    <a href="@(baseUrl + (currentPage - 1))" data-page="@(currentPage - 1)">‹</a>
                                </li>
                            }
                            @for (int i = 1; i <= Model.SearchResult.TotalPages; i++)
                            {
                                if (i == currentPage)
                                {
                                    <li class="active">
                                        <a href="@(baseUrl + i)" data-page="@i">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@(baseUrl + i)" data-page="@i">@i</a>
                                    </li>
                                }
                            }
                            @if (currentPage < Model.SearchResult.TotalPages)
                            {
                                <li class="next">
                                    <a href="@(baseUrl + (currentPage + 1))" data-page="@(currentPage + 1)">›</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="main__result--spotlight col l-4">
                    <div class="interested">
                        <h3 class="result__spotlight--title">Có thể bạn quan tâm</h3>
                        <div class="result__spotlight--list row">
                            <div class="result__spotlight--item l-12">
                                @foreach (var item in Model.TopRecruimentNews)
                                {
                                    <div class="result__item col l-12 m-6 c-12">
                                        <div class="result__item--wrapper">
                                            <div class="result__item--img">
                                                <img class="full_width" src="@item.Employer.Avatar" alt="Logo nhà tuyển dụng">
                                            </div>
                                            <div class="result__item--name">
                                                <h2 class="result__name--title">
                                                    <a href="/recruiment-news/@item.Id" class="result__name--link text-line-1">
                                                        @item.JobName
                                                    </a>
                                                </h2>
                                                <div class="result__name--employer mb-5">
                                                    <a href="/employers/@item.Employer.Id" class="result__employer--link text-line-1">
                                                        <span class="result__icon"><i class="far fa-building"></i></span>
                                                        <span class="">@item.Employer.Name</span>
                                                    </a>
                                                </div>
                                                <p class="result__salary mb-5">
                                                    <span class="result__icon"><i class="fas fa-money-check-alt"></i></span>
                                                    <span>@item.Salary</span>
                                                </p>
                                                <div class="result__date mb-5">
                                                    <p class="result__date--end mb-0">
                                                        <span class="result__icon"><i class="fa-regular fa-clock"></i></span>
                                                        <span>@(item.Deadline.HasValue ? item.Deadline.Value.GetApplicationTimeRepresentation() : "Vô thời hạn")</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>