@using WebTuyenDung.Constants;
@using WebTuyenDung.Enums;
@model WebTuyenDung.Models.Candidate

@{
    ViewBag.Title = "Thông tin cá nhân";
    var popup = TempData["popup"];
}

@section css_Main {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Assets/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/Client/css/info.css">
}

@section scripts_Main {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Assets/Client/js/style.js"></script>
    <script src="~/Assets/Client/js/info.js"></script>
    <script>
        $(document).ready(() => {
            $('.date').datepicker({
                format: 'dd/mm/yyyy'
            })
        })
    </script>
    @if (popup != null)
    {
        <script>
            alert("Cập nhật thông tin thành công")
        </script>
    }
}


<div class="main__fixed bg-img"></div>

<div class="main__content">
    <div class="main__content--wrapper grid wide">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header py-2">
                            <h4 class="header-title mb-0">Thông tin cá nhân</h4>
                        </div>
                        <div class="collapse pt-3 show">
                            <form action="/user/info" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(e => e.Id)
                                <div class="form-horizontal">

                                    <div class="form-group align-items-center row main__image">
                                        <div class="col-md-12">
                                            <label for="inputCover" class="lbImgBia">
                                                @if (Model.CoverImage != null)
                                                {
                                                    <img class="img_cover img-thumbnail img_cover" src="@Model.CoverImage" alt="Ảnh bìa" />
                                                }
                                                else
                                                {
                                                    <img class="img_cover img-thumbnail img_cover" src="~/Assets/Client/img/Candidate/cover-default.jpg" alt="Ảnh bìa" />
                                                }
                                            </label>
                                            <input type="file" id="inputCover" name="ImageCover" accept="image/*" hidden />
                                        </div>
                                        <div class="main_img-avt">
                                            <label for="inputMain" class="lbImgMain">

                                                @if (Model.Avatar != null)
                                                {
                                                    <img class="img_main rounded-circle avatar-xl img-thumbnail img_main" src="@Model.Avatar" alt="Ảnh đại diện" />
                                                }
                                                else
                                                {
                                                    <img class="img_main rounded-circle avatar-xl img-thumbnail img_main" src="~/Assets/Client/img/Candidate/user-default.png" alt="Ảnh đại diện" />
                                                }
                                            </label>
                                            <input type="file" id="inputMain" name="ImageMain" accept="image/*" hidden />
                                        </div>
                                    </div>

                                    <div class="form-group align-items-center justify-content-center row mt-5">
                                        @Html.LabelFor(model => model.Name, "Họ tên", new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group align-items-center justify-content-center row">
                                        @Html.LabelFor(model => model.PhoneNumber, "Số điện thoại", new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group align-items-center justify-content-center row">
                                        @Html.LabelFor(model => model.Gender, "Giới tính", new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            <select class="form-control text-box single-line" name="gender" id="gender">
                                                @if (Model.Gender == Gender.Male)
                                                {
                                                    <option value="0" selected>Nam</option>
                                                    <option value="1">Nữ</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Nam</option>
                                                    <option value="1" selected>Nữ</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group align-items-center justify-content-center row">
                                        <label class="control-label col-md-2" for="birthDay">Nhập ngày sinh</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control date" name="birthDay" id="birthDay" value="@Model.BirthDay.ToString(DateTimeFormatConstants.DATE_ONLY_FORMAT)" />
                                        </div>
                                        @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group align-items-center justify-content-center row">
                                        @Html.LabelFor(model => model.Address, "Nhập địa chỉ", new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group align-items-center justify-content-center row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-6">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group align-items-center justify-content-center row mt-3">
                                        <div class="col-md-2">
                                            <a href="/" class="btn btn-light">Trở về</a>
                                        </div>

                                        <div class="col-md-6">
                                            <input type="submit" value="Cập nhật thông tin" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>