@using WebTuyenDung.Constants;
@using WebTuyenDung.Helper;
@using WebTuyenDung.ViewModels.Candidate
@model DetailRecruimentNewsViewModel

@{
    ViewBag.Title = Model.JobName + " - " + Model.Employer.Name;
}

<style>
    textarea {
        resize: none
    }
</style>

@section css_Main {
    <link rel="stylesheet" href="~/Assets/Client/css/recruiment-news.css">
}

@section scripts_Main {
    <script src="~/Assets/Client/js/style.js"></script>
    <script src="~/Assets/Client/js/searchkey.js"></script>
    <script src="~/Assets/Client/js/recruiment-news.js"></script>
    <script>
        $('#not-logged-in-apply-button').click(() => {
            const path = location.pathname
            const encodedPath = encodeURIComponent(path)

            const signInUrl = `/authentication/sign-in?ReturnUrl=${encodedPath}`
            location.href = signInUrl
        })
    </script>
}

<div class="main__fixed bg-img"></div>
<div class="main__search">
    <div class="main__search--wrapper grid wide">
        @*@{
        Html.RenderAction("_ViewSearch", "Home");
        }*@
    </div>
</div>

<!-- Main Content -->
<div class="main__employer">
    <div class="main__employer--wrapper grid wide">
        <div class="main__employer--info">
            <div class="employer__info--img">
                <img src="@Model.Employer.Avatar" alt="" class="full_width">
            </div>
            <div class="employer__info--recruitment c-flex">
                <h1>@Model.JobName</h1>
                <div class="employer__info--link">
                    <a href="#">
                        <i class="far fa-building"></i>
                        @Model.Employer.Name
                    </a>
                </div>
                <div class="employer__info--deadline">
                    <i class="fa-regular fa-clock"></i>
                    Hạn nộp: @Model.Deadline.GetApplicationTimeRepresentation()
                </div>
            </div>
            <div class="employer__info--apply">
                @if (!Model.Deadline.HasValue || Model.Deadline.Value > DateTimeHelper.Today)
                {
                    <div class="employer__apply--cv">
                        @if (User.IsInRole(AuthorizationConstants.CANDIDATE_ROLE))
                        {
                            <button class="apply__cv--button button--link">Ứng tuyển</button>
                        }
                        else
                        {
                            <button class="apply__cv--button button--link" id="not-logged-in-apply-button">Ứng tuyển</button>
                        }
                    </div>
                    <form class="employer__apply--save" action="/Recruitment/Save" method="post">
                        @Html.Hidden("MaTTD", Model.Id)
                        <button class="apply__save--button button--link">
                            @if (ViewBag.Status != null)
                            {
                                if ((int)ViewBag.Status > 0)
                                {
                                    <i class="fa-solid fa-heart"></i>
                                    <span>Bỏ lưu</span>
                                }
                                else
                                {
                                    <i class="fa-solid fa-heart"></i>
                                    <span>Lưu tin</span>
                                }
                            }
                            else
                            {
                                <i class="fa-solid fa-heart"></i>
                                <span>Lưu tin</span>
                            }

                        </button>
                    </form>
                }
                else
                {
                    <div class="employer__apply--cv">
                        Hết hạn ứng tuyển
                    </div>
                }
            </div>
        </div>
        <div class="main__employer--content row">
            <div class="col c-4">
                <div class="employer__content--company">
                    <h2 class="employer--title">Nhà tuyển dụng: </h2>
                    <ul class="content__company--list">
                        <li>
                            <a href="">
                                <i class="fa-solid fa-building"></i>
                                <strong>@Model.Employer.Name</strong>
                            </a>
                            <p>@Model.Employer.Description</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-user-group"></i>
                            <strong>Quy mô: </strong><span>@Model.Employer.Size</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-map-location"></i>
                            <strong>Địa chỉ: </strong><span>@Model.Employer.Address</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col c-8">
                <h1 class="employer__content--title employer--title">Chi tiết công việc</h1>
                <div class="employer__content--info">
                    <h3 class="content__info--title">1. Thông tin tuyển dụng</h3>
                    <ul class="content__info--list">
                        <li>Mức lương: @Model.Salary</li>
                        <li>Hình thức làm việc: @Model.JobType</li>
                        <li>Giới tính: @Model.Gender</li>
                        <li>Số lượng tuyển: @Model.NumberOfCandidates</li>
                        <li>Cấp bậc: Lập trình viên</li>
                        <li>
                            Địa điểm làm việc:
                            <p>- Khu vực: @Model.WorkingSite</p>
                            <p>- @Model.Employer.Address</p>
                        </li>
                    </ul>
                    <h3 class="content__info--title">2. Mô tả công việc</h3>
                    <div style="padding-left: 20px">
                        <p>@Html.Raw(Model.Description)</p>
                    </div>
                    <h3 class="content__info--title">3. Yêu cầu ứng viên</h3>
                    <div style="padding-left: 20px">
                        <p>
                            @Html.Raw(Model.Requirements)
                        </p>
                    </div>
                    <h3 class="content__info--title">4. Kỹ năng liên quan</h3>
                    <div style="padding-left: 20px">
                        <p>
                            @Html.Raw(Model.RelativeSkills)
                        </p>
                    </div>
                    <h3 class="content__info--title">5. Quyền lợi</h3>
                    <div style="padding-left: 20px">
                        <p>
                            @Html.Raw(Model.Benefit)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main__apply">
    <form action="/recruiment-news/apply/@Model.Id" method="post" class="main__apply--post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="main__apply--title">
            <h4>Ứng tuyển <span>@Model.JobName</span></h4>
            <div class="apply--close"></div>
        </div>
        <div class="main__apply--content">
            @*<div class=" row g-3">
            <div class="col-md-12">
            <input type="radio" class="form-check-input" id="cvonline" name="ungtuyen" value="cvonline" onclick="show1();" />
            <label for="cvonline" class="form-label">Sử dụng CV online</label>
            <div id="div1" class="hide">
            <input type="radio" name="cvitems" value="1"> CV 1 <br>
            <input type="radio" name="cvitems" value="2"> CV 2  <br>
            <input type="radio" name="cvitems" value="3"> CV 3
            </div>
            </div>
            <div class="col-md-12">
            <input type="radio" class="form-check-input" id="taicv" name="ungtuyen" value="taicv" onclick="show2();" />
            <label for="taicv" class="form-label">Tải CV từ máy tính</label>
            <div id="div2" class="hide">
            <hr><p>Choose file</p>
            <input type=file>
            </div>
            </div>
            </div>*@
            <div class="col-md-12">
                <input type="radio" class="form-check-input" id="cv-type-radio-online" name="cv-type" value="online">
                <label for="cv-type-radio-online" class="form-label">Sử dụng CV online</label>
            </div>

            <div id="cv-type-radio-online-content" style="display: none">
                <input type="radio" name="items" value="1" checked> CV 1 <br>
                <input type="radio" name="items" value="2"> CV 2  <br>
                <input type="radio" name="items" value="3"> CV 3
            </div>
            <div class="col-md-12">
                <input type="radio" class="form-check-input" id="cv-type-radio-upload" name="cv-type" value="upload">
                <label for="cv-type-radio-upload" class="form-label">Tải CV từ máy tính</label>
                <div id="cv-type-radio-upload-content" style="display: none">
                    <hr><p>Choose file</p>
                    <input type=file>
                </div>
            </div>
            <div class="main__apply--note">
                <h4>Lời nhắn:</h4>
                <textarea name="letter" id="letter" rows="3" placeholder="Bạn có thể nêu mong muốn, lý do lựa chọn công ty này nhằm gây ấn tượng với nhà tuyển dụng..."></textarea>
            </div>
            <div class="main__apply--button">
                <button class="apply__button--cancel">Bỏ qua</button>
                <button class="apply__button--submit">Nộp CV</button>
            </div>
        </div>
    </form>
</div>
